* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: 14px "Century Gothic", Futura, sans-serif;
}

/*.status {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.game {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.game-info {*/
/*    margin-left: 20px;*/
/*}*/
